@using Model.Entities
@model TopPuzzle.ru.Models.ScoresViewModel

@{
    ViewBag.Title = "GetScores";
}

@section styles{
    <link href="~/Content/Scores.css" rel="stylesheet" />
}

<table>
    <tr>
        <th class="player">Player</th>
        <th class="time">Time</th>
        <th class="puzzle">Puzzle</th>
        <th class="date">Date</th>
    </tr>
    @foreach (var score in Model.ScoresList)
    {
        <tr>
            <td class="player">@score.Item2</td>
            <td class="time">@score.Item1.Time</td>
            <td class="puzzle">@score.Item1.PuzzleId</td>
            <td class="date">@score.Item1.Date</td>
        </tr>
    }
</table>