@model Toppuzzle.Site.Models.EditorViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/jquery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/Puzzle.js"></script>
    <script>
        $(document).ready(function () {
            $("#puzzle-block").load("/puzzle/get", {"complexity":@Model.Complexity, "pictureId":@Model.PictureId});
        })
    </script>
}

@section styles{
    <link href="~/Content/PuzzleEditor.css" rel="stylesheet"/>
}

<div id="puzzle-block"></div>