@model List<Toppuzzle.Site.Models.ScoreModel>

@{
    ViewBag.Title = "GetScores";
    Layout = null;
}

<table>
    <tr>
        <th></th>
        <th class="player">Игрок</th>
        <th class="time">Время</th>
        <th class="puzzle">Пазл</th>
        <th class="date">Дата</th>
    </tr>
    @foreach (var score in Model)
    {
        <tr>
            <td>
                @if (score.User.HasAvatar) {
                    <img src="~/Content/Users/@score.User.Id/@score.User.Avatar" height="20" width="20"/>
                } else {
                    <img src="~/Content/Images/Placeholder.png" height="20" width="20" />
                }
            </td>
            <td class="player">
                <a class="player" href="~/cabinet?userId=@score.User.Id">@score.User.UserName</a>
            </td>
            <td class="time">@(new TimeSpan(score.Time*10000).ToString().Substring(0, 8))</td>
            <td class="puzzle">@score.PictureId</td>
            <td class="date">@score.Date.ToShortDateString()</td>
        </tr>
    }
</table>
