@model Toppuzzle.Site.Models.ScoresViewModel

@{
    ViewBag.Title = "GetScores";
    Layout = "";
}

<table>
    <tr>
        <th class="player">Player</th>
        <th class="time">Time</th>
        <th class="puzzle">Puzzle</th>
        <th class="date">Date</th>
    </tr>
    @foreach (var score in Model.ScoresList)
    {
        <tr>
            <td class="player">@score.Item2</td>
            <td class="time">@score.Item1.Time</td>
            <td class="puzzle">@score.Item1.PictureId</td>
            <td class="date">@score.Item1.Date.ToShortDateString()</td>
        </tr>
    }
</table>
