@model Toppuzzle.Site.Models.ScoreModel

@{
    ViewBag.Title = "GetScores";
    Layout = null;
}

<table>
    <tr>
        <th class="player">Player</th>
        <th class="time">Time</th>
        <th class="puzzle">Puzzle</th>
        <th class="date">Date</th>
    </tr>
    @foreach (var score in Model.ScoresList)
    {
        <tr>
            <td class="player">@score.Item2</td>
            <td class="time">@(new TimeSpan(score.Item1.Time * 10000).ToString().Substring(0, 8))</td>
            <td class="puzzle">@score.Item3</td>
            <td class="date">@score.Item1.Date.ToShortDateString()</td>
        </tr>
    }
</table>
