@{
    ViewBag.Title = "Лучшие пазлы онлайн";
}

@section styles{
    <link href="~/Content/Scores.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jquery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/Home.js"></script>
}

<div id="common">
    <div>
        <div class="parts" id="catalog-with-pager">
            <input type="button" id="random" class="btn btn-default" value="Случайный пазл"/>
            <div id="catalog"></div>
            <div id="pager"></div>
        </div>
        <div class="parts" id="scores-table">
            <div class="complexity" id="c-easy" complexity="1">Легкий</div>
            <div class="complexity" id="c-medium" complexity="2">Средний</div>
            <div class="complexity" id="c-hard" complexity="3">Сложный</div>
            <div id="scores"></div>
        </div>
    </div>
</div>
<div class="complexity-popup" id="popup1">
    <div class="popup-content">
        <div id="close-btn">✖</div>
        <div id="popup-label">Выберите уровень сложности:</div>
        <div id="easy" complexity="1">Легкий</div>
        <div id="medium" complexity="2">Средний</div>
        <div id="hard" complexity="3">Сложный</div>
    </div>
</div>