@{
    ViewBag.Title = "Лучшие пазлы онлайн";
}

@section styles{
    <link href="~/Content/Scores.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jquery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/Home.js"></script>
}

<div id="common">
    <div>
        <div class="parts" id="catalog-with-pager">
            <input type="button" id="random" class="btn btn-default" value="Случайный пазл" />
            <div id="catalog"></div>
            <div id="pager"></div>
        </div>
        <div class="parts" id="scores-table">
            <div class="complexity" id="c-easy" complexity="1">Easy</div>
            <div class="complexity" id="c-medium" complexity="2">Medium</div>
            <div class="complexity" id="c-hard" complexity="3">Hard</div>
            <div id="scores"></div>
        </div>
    </div>
</div>