@model Toppuzzle.Site.Models.CatalogViewModel

@{
    Layout = null;
}

<div>
    @if (Model.Pictures.Any()) {
        <div id="catalog">
            @foreach (var picture in Model.Pictures) {
                <div class="item main_page_prewiew" id="media" picture_id="@picture.Id">
                    <img src="@Url.Content(picture.Source)" width="200" height="113" />
                </div>
            }
        </div>
        <div id="pager"></div>
    } else {
        <h2>Вы пока не собирали пазлов</h2>
    }
</div>