@model dynamic

<div class="horizontal-navlist">
    <div class="btn btn-default" id="navlist-password">Изменить пароль</div>
    <div class="btn btn-default" id="navlist-email">Изменить почту</div>
    <div class="btn btn-default" id="navlist-avatar">Изменить аватар</div>
</div>

<div id="settings-partial"></div>