@model dynamic

<ul class="horizontal-navlist">
    <li id="navlist-password">Изменить пароль</li>
    <li id="navlist-email">Изменить почту</li>
    <li id="navlist-avatar">Изменить аватар</li>
</ul>

<div id="settings-partial"></div>