.player {
    text-align: center;
    color: red;
    font-size: 15pt;
    width: 25%;
}

.time {
    text-align: center;
    color: blue;
    font-size: 15pt;
    width: 25%;
}

.puzzle {
    text-align: center;
    color: green;
    font-size: 15pt;
    width: 25%;
}

.date {
    text-align: center;
    color: deeppink;
    font-size: 15pt;
    width: 25%;
}

.parts {
    display: inline-block;
    text-align: center;
}

#common {
    text-align: justify;
}

.complexity {
    text-align: center;
    display: inline-block;
    width: 30%;
}

#scores {
    display: inline-block;
}

#scores-table {
    width: 30%;
    position: absolute;
    top: 70px;
    right: 50px;
}