body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

.dl-horizontal dt { white-space: normal; }

input,
select,
textarea { max-width: 280px; }

#loginTextField, #passwordTextField {
    margin-left: 5px;
    margin-top: 15px;
    width: 130px;
    padding-left: 5px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 1px;
}

#avatar, #user-info-and-settings {
    display: inline-block;
}

#user-info-and-settings {
    margin-left: 10px;
    margin-top: 10px;
}

#navlist-password, #navlist-email, #navlist-avatar {
    cursor: pointer;
}

#navlist-password:active, #navlist-email:active, #navlist-avatar:active {
    cursor: pointer;
    background-color: blue;
    color: white;
}

#my-puzzle, #settings {
    margin-bottom: 3px;
    display: block;
    padding: 1px 1px 1px 1px;
}

.horizontal-navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#avatar-img {
    vertical-align: 0;
}

#loginLink {
    padding-top: 15px;
    background: transparent;
    border: none;
    color: #999999
}

    #loginLink:hover {
        color: white;
    }

.main_page_prewiew {
    height: 121px;
    width: 208px;
    display: inline-block;
    padding-right: 10px;
    float: left;
}

#media {
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
    border: 4px solid;
    border-color: transparent;
}

#media:hover {
    border: 4px solid;
    border-color: lightblue;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#catalog-with-pager {
    width: 59%;
}

#catalog {
    display: inline-block;
}

#pager-navlist li {
    padding-right: 0;
}

#random {
    width: 96%;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

#pager {
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

    #pager ul li {
        margin-left: 8px;
    }

        #pager ul li .pagerNumber {
            text-decoration: none;
            padding: 4px 7px;
            background-color: #d9d9d9;
            color: #258DC9;
        }

            #pager ul li .pagerNumber:hover {
                cursor: pointer;
            }

            #pager ul li .pagerNumber.active {
                background-color: #FA6A04;
                color: #fff;
                font-weight: bold;
            }
